In [22]:
import pandas as pd
import pickle

In [23]:
df = pd.read_csv("preprocessed_notna_dataset.csv",index_col=0)
df.drop(inplace=True,axis=1,labels="Class/ASD")
df

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,Sri Lanka,Sweden,Tonga,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Viet Nam
0,1,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,1,0,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,0
5,1,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
699,0,1,0,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
700,1,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
702,1,0,0,1,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
703,1,0,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [24]:

array = []
for column in df.columns:
    array.append(column)

array

['A1_Score',
 'A2_Score',
 'A3_Score',
 'A4_Score',
 'A5_Score',
 'A6_Score',
 'A7_Score',
 'A8_Score',
 'A9_Score',
 'A10_Score',
 'age',
 'gender',
 'jaundice',
 'family member with PDD',
 'Asian',
 'Black',
 'Hispanic',
 'Latino',
 'Middle Eastern ',
 'Others',
 'Pasifika',
 'South Asian',
 'Turkish',
 'White-European',
 'Afghanistan',
 'AmericanSamoa',
 'Angola',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Bahamas',
 'Bangladesh',
 'Belgium',
 'Bolivia',
 'Brazil',
 'Burundi',
 'Canada',
 'Chile',
 'China',
 'Costa Rica',
 'Cyprus',
 'Czech Republic',
 'Ecuador',
 'Egypt',
 'Ethiopia',
 'Finland',
 'France',
 'Germany',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Italy',
 'Jordan',
 'Malaysia',
 'Mexico',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Oman',
 'Pakistan',
 'Philippines',
 'Portugal',
 'Romania',
 'Russia',
 'Saudi Arabia',
 'Serbia',
 'Sierra Leone',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Tonga',
 'Turkey',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Viet Nam']

In [26]:
array_file = open("column","wb")
pickle.dump(array,array_file)